.login {
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: #dddddd;
    width: 100vw;
    height: 100vh;
    border: 0.125rem solid black;
    font-family: Verdana;
}

.login-title {
    font-size: 1.5rem;
    margin: 1rem;
    color: black;
    font-weight: bold;
}

.credential-label {
    font-size: 1.25rem;
    color: black;
    margin: 0.5rem;
    display: block;
    text-align: center;
}

.user {
    margin-left: 2.75rem;
    width: 15rem;
}

.pass {
    margin-left: 0.5rem;
    width: 15rem;
}

.login-button {
    font-size: 1.25rem;
    margin-left: 6.25%;
    padding: 0.25rem 0.5rem;
}

.login-error-message {
    margin-left: 45%;
    text-align: center;
}




