@use "../../Variables.scss" as *;
@use "../../Mixins.scss" as *;
@use "../../CommonStyles.scss";

.login {
  @extend .app-container;

  h1 {
    font-size: $font-size * 1.25;
    margin: 1rem;
    color: $font-color;
    font-weight: bold;
  }

  .credential-container {
    @include flex-center(row);
    flex-wrap: wrap;
  }

  label {
    font-size: $font-size;
    color: $font-color;
    width: 7.5rem;
    margin: 0.5rem;
    display: block;
    text-align: center;
  }

  input {
    @extend .std-input;
    min-width: 7.5rem;
    max-width: 15rem;
  }

  .button-and-error-container {
    @include flex-center(column);
  }

  .button-container {
    @include flex-center(row);
    flex-wrap: wrap;
  }

  button {
    @extend .std-button;
  }
}