@use "../../Variables.scss" as *;
@use "../../Mixins.scss" as *;

.list-container {
  h2 {
    font-weight: bold;
    font-size: $font-size;
    color: rgba($font-color, 0.5);
    width: $desktop-tab-width * 0.5;
    margin-bottom: 0;
    padding: 0.5rem 0;

    &:hover {
      color: $font-color;
      cursor: pointer;
    }
  }

  li {
    list-style: none;
  }

  .highlighted-tab {
    background-color: $modal-and-tab-color;
    color: $font-color;
  }

  .tabs {
    @include flex-center(row);
    width: $desktop-tab-width;
  }

  .todos-box {
    @include flex-center(column);
    background-color: $modal-and-tab-color;
    width: $desktop-tab-width;
    margin: 0 auto;
    padding: 1rem;
  }

  @media (max-width: $mobile-breakpoint) {
    h2 {
      width: $mobile-tab-width * 0.5;
    }
    
    .tabs {
      width: $mobile-tab-width;
    }

    .todos-box {
      width: $mobile-tab-width;
    }
  }

}
