@use "../../Mixins.scss" as *;
@use "../../Variables.scss" as *;

.todo-item-container {
  @include flex-center(column);
  border-bottom: 0.125rem solid rgba($border-color, 0.25);
  padding: 0.5rem 0;

  li {
    max-width: $desktop-tab-width;
    list-style-type: none;
    @include flex-center(row);
    justify-content: space-evenly;
  }

  p {
    width: $desktop-tab-width * 0.65;
    word-wrap: break-word;
    margin: 0.5rem 2.5rem;
  }

  span {
    font-weight: bold;
  }
  
  .check:hover {
    color: green;
    cursor: pointer;
  }

  .delete:hover {
    color: red;
    cursor: pointer;
  }

  @media (max-width: $mobile-breakpoint) {    
    li {
      max-width: $mobile-tab-width;
    }
    
    p {
      width: $mobile-tab-width * 0.65;
      margin: 0.125rem 0.5rem;
    }
  }
}
