@use "../../Mixins" as *;
@use "../../Variables" as *;
@use "../../CommonStyles";

.create-container {
  position: absolute;
  top: 0;
  backdrop-filter: blur(0.125rem);
  width: 100vw;
  height: 100vh;
  @include flex-center(row);

  .modal {
    @include flex-center(column);

    font-family: $font;
    position: absolute;
    background-color: $modal-and-tab-color;
    max-width: $desktop-tab-width;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border: 0.0625rem solid $border-color;

    .modal-button-container {
      @include flex-center(row);
    }

    legend {
      font-size: $font-size;
      text-align: center;
      margin: 0.25rem;
    }
    textarea {
      display: block;
      margin: 0.5rem auto;
      width: $desktop-tab-width * 0.9;
      height: 10rem;
      resize: none;
      font-size: $font-size;
      letter-spacing: 0.01rem;
    }
    button {
      @extend .std-button;
    }

    @media (max-width: $mobile-breakpoint) {
      max-width: $mobile-tab-width;
      textarea {
        width: $mobile-tab-width * 0.9;
      }
    }
  }
}
