@use "../../Mixins" as *;
@use "../../Variables" as *;
@use "../../CommonStyles";

.modal-container {
  position: absolute;
  top: 0;
  backdrop-filter: blur(0.125rem);
  width: 100vw;
  height: 100vh;
  @include flex-center(row);

  // Opening animation
  opacity: 0;
  transform: scale(0.5);
  transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
  &.open {
    opacity: 1;
    transform: scale(1);
  }
  &.closing {
    pointer-events: none; // Prevent interactions during close
  }

  .modal {
    @include flex-center(column);

    font-family: $font;
    position: absolute;
    background-color: $modal-and-tab-color;
    max-width: $desktop-tab-width;
    padding: 0.5rem;
    border: $border-width solid $border-color;

    .modal-button-container {
      @include flex-center(row);
    }

    legend {
      font-size: $font-size;
      text-align: center;
      margin: 0.25rem;
    }
    textarea {
      display: block;
      margin: 0.5rem auto;
      width: $desktop-tab-width * 0.9;
      height: 10rem;
      resize: none;
      font-size: $font-size;
      letter-spacing: 0.01rem;
      border: $border-width solid $border-color;
    }
    button {
      @extend .std-button;
    }
  }

  @media (max-width: $mobile-breakpoint) {
    align-items: flex-start;

    .modal {
      max-width: $mobile-tab-width;
      margin-top: 3.75rem;
      textarea {
        width: $mobile-tab-width * 0.9;
      }
    }
  }
}
