@use "./Variables.scss" as *;
@use "./Mixins.scss" as *; 

.app-container {
    margin: 0;
    box-sizing: border-box;
    text-align: center; 
    background-color: $background-color;
    width: 100vw;
    min-width: 30rem;
    height: 100vh;
    border: 0.125rem solid $border-color;
    font-family: $font;
}