@use "./Variables.scss" as *;
@use "./Mixins.scss" as *;

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  user-select: none;  // Prevent text selection
}

.app-container {
  text-align: center;
  background-color: $background-color;
  width: 100vw;
  min-width: $desktop-tab-width * 1.125;
  min-height: 100vh;
  border: 0.125rem solid $border-color;
  font-family: $font;
  @include flex-center(column);
  justify-content: flex-start;

  @media (max-width: $mobile-breakpoint) {
    min-width: $mobile-tab-width * 1.125;
    overflow-x: hidden;
  }
}

.std-button {
  margin: 0.75rem;
  padding: 0.375rem;
  font-size: $font-size;
  font-family: $font;
  border: $border-width solid $border-color;

  &:hover {
    cursor: pointer;
  }
}

.std-input {
  font-size: $font-size;
  height: $font-size * 1.625;
  text-align: center;
  font-family: $font;
  border: $border-width solid $border-color;
}
