$font: Verdana;
$font-color: black;
$background-color: #dddddd;
$modal-and-tab-color: #eeeeee;
$font-size: 1.25rem;
$border-color: black;
$desktop-tab-width: 35rem;
$mobile-tab-width: 20rem; 
$mobile-breakpoint: 767px;