@use "../../CommonStyles.scss";
@use "../../Variables.scss" as *;
@use "../../Mixins.scss" as *;

.search-container {
  width: $desktop-tab-width;
  @include flex-center(row);

  input {
    @extend .std-input;
    margin-left: 0;
    width: 75%;
  }

  .search-button {
    @extend .std-button;
    @include flex-center(row); // Center text
    width: 25%;
    margin-right: 0;
    height: $font-size * 1.625;
  }

  @media (max-width: $mobile-breakpoint) {
    width: $mobile-tab-width;
  }
}
