@use "../../CommonStyles.scss";
@use "../../Variables.scss" as *;
@use "../../Mixins.scss" as *;

.search-container {
    width: $tab-width;
    @include flex-center(row);
    margin: 0.5rem;

    input {
        @extend .std-input;
        margin-left: 0;
        width: 80%;
    }

    .search-button {
        @extend .std-button;
        width: 20%;
        margin-right: 0;
    }
}

