li {
    max-width: 30rem;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

p {
    max-width: 20rem;
    min-width: 20rem;
    word-wrap: break-word;
    margin: 0.5rem 2.5rem;
}

hr {
    max-width: 28rem;
}

.check:hover {
    color: green;
    cursor: pointer;
}

.delete:hover {
    color: red;
    cursor: pointer;
}

