.search-button, input {
    font-size: 1.25rem;
    text-align: center;
    margin: 0.25rem;
}

input {
    width: 22.5rem;
}

.search-button {
    width: 5.5rem;
    margin-right: 0;
}

.search-button:hover {
    cursor: pointer;
}

