name: CD-main-frontend

on:
  workflow_call:
    inputs:
      mode:
        description: 'Deployment mode: "deploy" or "rollback"'
        required: false
        type: string
        default: 'deploy'
    secrets:
      SERVER_HOST:
        required: true
      SERVER_USER:
        required: true
      SSH_PRIVATE_KEY:
        required: true

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code to runner
        uses: actions/checkout@v5

      - name: Rollback to previous commit (if rollback mode)
        if: ${{ inputs.mode == 'rollback' }}
        run: git checkout HEAD~1

      - name: Install front-end dependencies
        working-directory: front-end
        run: npm ci
        
      - name: Build front-end with Webpack
        working-directory: front-end
        run: npm run build:prod

      - name: SSH to server and delete previous front-end files
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            rm -rf ~/todo-app/deploy/nginx/dist/*

      # https://github.com/marketplace/actions/scp-command-to-transfer-files
      - name: Deploy front-end files to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # 'source' copies directory structure recursively
          source: "deploy/nginx/dist/*"  
          strip_components: 3  # Removes 'deploy/nginx/dist'
          target: "~/todo-app/deploy/nginx/dist/" 