name: CD-main

on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      # https://nektosact.com/usage/index.html#secrets
      # https://sanjulaganepola.github.io/github-local-actions-docs/usage/settings/#secrets
      - name: SSH to AWS Lightsail and run deploy script
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }} # Add as secret: e.g., your-server.com
          username: ${{ secrets.SERVER_USER }} # Add as secret: e.g., ubuntu
          key: ${{ secrets.SSH_PRIVATE_KEY }} # Your private key secret
          script: |
            cd ~/todo-app/deploy
            chmod +x doDeploy.sh
            bash doDeploy.sh

# Connect to instance manually:
# Inside git bash:
# ssh -i "/path/to/private-key.pem" user@server-ip
