name: CD-main

on:
  push:
    branches: [main]
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code to runner
        uses: actions/checkout@v5

      - name: Verify latest commit
        run: git log --oneline -1

      - name: Install front-end dependencies
        working-directory: front-end
        run: npm ci

      - name: Build front-end with Webpack
        working-directory: front-end
        run: npm run build:prod

      - name: SSH to server and delete previous front-end files
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            rm -rf ~/todo-app/deploy/nginx/dist/*

      # https://github.com/marketplace/actions/scp-command-to-transfer-files
      - name: Deploy front-end files to server
        uses: appleboy/scp-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          # 'source' copies directory structure recursively
          source: "deploy/nginx/dist/*"  
          strip_components: 3  # Removes 'deploy/nginx/dist'
          target: "~/todo-app/deploy/nginx/dist/"  

      # https://github.com/marketplace/actions/ssh-remote-commands
      - name: SSH to server and run deploy script
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }} 
          key: ${{ secrets.SSH_PRIVATE_KEY }} 
          script: |
            cd ~/todo-app/deploy
            git pull origin main
            chmod +x doDeploy.sh
            bash doDeploy.sh
        
# Connect to instance manually:
  # Inside git bash:
    # ssh -i "/path/to/private-key.pem" user@server-ip
            
# Secrets:
# https://nektosact.com/usage/index.html#secrets
# https://sanjulaganepola.github.io/github-local-actions-docs/usage/settings/#secrets